{% extends "base.html" %} 
{% block title %} Cart {% endblock %}
 

{% block head %}

<script src = "{{ url_for('static', filename = "cart.js") }}"></script>

<style>
	h3 {font-family:Times New Roman;}
	
	.text {
	white-space: nowrap;
	}
	
	label{font-family:Times New Roman;}
	
	.form-control{
	max-width: 5rem;
	}
	
	.btn {
	max-width: 8rem;
	
	}
	
	.number {
	display: inline;
	max-height: 1rem;
	max-width: 3rem;	
	}

</style>

{% endblock %}


{% block content %}


<div class = "shadow card">
{% for i in cart %} 
<form action = "/update" method = "post">
  <div class="form-group row d-flex justify-content-center">
    <label for="{{i}}form" class="col-auto col-form-label">{{i}} </label>
    <div class="col-auto">
      <input type="number" 
      class="form-control"
       id="{{i}}form" 
       name = "{{i}}"
       min=0
       max = 100
       value = {{req["{}qty".format(i)]}}>
       </input>
       </div>
       <div class = "col-auto">
        <button  type = "submit" class = "btn btn-primary">Update </button>
   	 <button type = "button" class = "btn btn-danger" onclick = "delete_parent(this, {{i[0]}})">Remove</button>   
      </div> 
  </div>
</form>
	
{% endfor %}
</div>
{% endblock %}

{% block script %}


{% endblock %}





