
{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'scroll.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'cover.css') }}">

{% endblock %}
{% block content %}
		  <div class="wrapper">
		    <div class="static-txt">Welcome to</div>
		    <ul class="dynamic-txts">
		      <li><span>E - Palengke</span></li>
		      <li><span>the future.</span></li>
		      <li><span>your market.</span></li>
		    </ul>
		  </div>
		 </div>
	 
 <!--  Use cards to reveal options  -->
 <!-- Use class = "reveal" to make it appear -->
 <!-- Use self-made class = "text-title" to toggle text -->
 
 <div class = "text-title">
 <h3 class = "reveal text-title"> Services </h3>
 </div>

<div class = "float-right">
	<div class = "col reveal float-right">
		<div class = "card">
			<div class = "card-body">
				<div class = "card-title">
				<h3> This is supposedly  a title </h3>
					<div class = "card-text">
					<p> This should contain some content here </p>
					<a href="shop/highland" class="btn btn-primary">Shop</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



	<div class = "col float-right reveal">
		<div class = "card">
			<div class = "card-body">
				<div class = "card-title">
				<h3> This is supposedly a title </h3>
					<div class = "card-text">
					<p> This should contain some content here </p>
					<a href="shop/highland" class="btn btn-primary">Shop</a>
					</div>
				</div>
			</div>
		</div>
	</div>	


<div class = "container form-group my-5">
<div class = "col float-right reveal my-5">
</div>
</div>




<div class = "col float-right reveal">
		<div class = "card">
			<div class = "card-body">
				<div class = "card-title">
				<h3> This is supposedly a title </h3>
					<div class = "card-text">
					<p> This should contain some content here </p>
					<a href="shop/highland" class="btn btn-primary">Shop</a>
					</div>
				</div>
			</div>
		</div>
	</div>	




<div class = "container reveal my-5">
<div class = "col float-right my-5">
</div>
</div>

<div class = "container reveal my-5">
<div class = "col float-right my-5">
</div>
</div>


<div class = "float-right reveal">
	<div class = "col-lg-1 float-right reveal">
		<div class = "card">
			<div class = "card-body">
				<div class = "card-title">
				<h3> This is supposedly a title </h3>
					<div class = "card-text">
					<p> This should contain some content here </p>
					<a href="shop/highland" class="btn btn-primary">Shop</a>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>


<div class = "container form-group my-5">
<div class = "col float-right reveal my-5">
</div>
</div>

<div class = "container form-group my-5">
<div class = "col float-right reveal my-5">
</div>
</div>


<div class = "container reveal my-5">
<div class = "col float-right  my-5">
</div>
</div>



{% endblock %}






{% block script %}


    <script type="text/javascript">
    window.addEventListener('scroll', reveal);

    function reveal(){
      var reveals = document.querySelectorAll('.reveal');

      for(var i = 0; i < reveals.length; i++){

        var windowheight = window.innerHeight;
        var revealtop = reveals[i].getBoundingClientRect().top;
        var revealpoint = 150;

        if(revealtop < windowheight - revealpoint){
          reveals[i].classList.add('active');
        }
        else{
          reveals[i].classList.remove('active');
        }
      }
    }
    
   </script>
    
{% endblock %}